# Для локальной разработки используйте URL бэкенда. Лучше фальшивый, чем пустая строка для SPA fallback.
# Для продакшена она не прокинется (будет reverse proxy), так что можно оставить как есть.
VITE_API_URL=http://localhost:3333
