### ====================================================================================
### Создайте в проекте .env.prod и .env.dev и заполните своими данными
### ====================================================================================


# backend
TOKEN_LIFETIME_HOURS=24
JWT_SECRET=example_secret

# database
POSTGRES_DB=example_db
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_secret

# task-analyzer
OLLAMA_MODEL=qwen2.5:1.5b

